body {
  background: url(./assets/img/QWEqwewewe_background_internet_meme_9a1136b9-2aeb-4d52-9de3-4c6b00371a6f.png);
  background-size: cover;
  background-position: 10% center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
  overflow: hidden;
}